.page-order-nf {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order-nf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}